/*  Colors  */

:root {
  --neutral: #fbeec1;
  --border: #000000;
  --accent: #666666;
  --primary-background: #daad86;
  --primary-text: #333333;
  --primary-highlight: #bc986c;
  --primary-accent: #659dbd;
  --secondary-background: #bc986c;
  --secondary-text: #fbeec1;
  --secondary-highlight: #bc986c;
  --secondary-accent: #659dbd;
  --tertiary-background: #8d8741;
  --tertiary-text: #fbeec1;
  --tertiary-highlight: #8d8741;
  --tertiary-accent: #659dbd;
}

body {
  background-color: var(--neutral);
  color: var(--primary-text); /* TODO: necessary? */
}

.main {
  background-color: var(--primary-background);
  color: var(--primary-text);
  border-color: var(--border);
}

.main a, .main a:visited {
  background-color: var(--primary-highlight);
  color: var(--primary-text);
}

.main a:hover {
  background-color: var(--primary-accent);
}

.abstract {
  border-color: var(--primary-highlight);
}


ul.long li a, ul.long li a:visited {
  background-color: var(--primary-background);
}

ul.long li a:hover {
  background-color: var(--primary-accent);
}

#search-results li a {
    background-color: var(--primary-highlight);
}

#search-results li a:hover {
    background-color: var(--primary-accent);
}

#search-results span.match {
    background-color: var(--primary-accent);
}

.sidebar {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  border-color: var(--border);
}

.sidebar a, .sidebar a:hover {
  background-color: var(--secondary-highlight);
  color: var(--secondary-text);
}

.sidebar a:hover {
  background-color: var(--secondary-accent);
}

header {
  background-color: var(--tertiary-background);
  color: var(--tertiary-text);
  border-color: var(--border);
}

header a, header a:visited {
  background-color: var(--tertiary-highlight);
  color: var(--tertiary-text);
}

header a:hover {
  background-color: var(--tertiary-accent);
}

button, input {
  background: var(--neutral);
  color: inherit;
}

.main .themes button {
  color: black;
  background-color: white;
}

#searchBox button {
  background-color: inherit;
  color: inherit;
}

#searchWidget button {
  background-color: inherit;
  color: inherit;
}

#searchBox input {
  background-color: var(--neutral);
}


/*  Borders  */

header, .box {
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;  
  box-shadow: 2px 2px 2px var(--accent);
}

.main .themes button {
  border-radius: 15px;
}

.topics li a {
  border: 1px solid;
  border-radius: 10px;
}

.sidebar a, header a {
  text-decoration: none;
}

#searchBox input {
  border-radius: 18px;
}

#searchBox button {
  border: none;
}

#searchWidget input {
  border-radius: 10px;
}

#searchWidget button {
  border: none;
}

.themes button:focus {
  outline: none;
  border: 3px solid black;
}

/*  Layout  */

:root {
  box-sizing: border-box; 
}


body {
  padding: 1rem;
  max-width: 1200px;
  margin: 30px auto;
}

span {
  opacity: 60%;
}

header {
  padding: .5rem 1rem;
  margin: -1rem 1rem 1rem 1rem;
}

header a {
  padding: .5rem 1rem;
}

details {
  margin-top: 1.5rem;
}

details > details {
  margin-left: 1rem;
  margin-top: .5rem;
}

details > details > details {
  margin-left: 0;
  margin-top: .5rem;
}

ul + details {
  margin-left: 2rem;
  margin-top: -.5rem;
}

details.more > ul {
  margin-left: -2rem;
}

.container {
  display: flex;
  width: 100%;
}

nav {
  display: flex;
  width: 100%
}

#prev {
  flex: 2 1 150px;
}

#home {
  flex: 1 1 50px;
  text-align: center;
}

#next {
  flex: 2 1 150px;
}

.main {
  flex: 5 1 200px;
  position: relative;
}

.sidebar {
  flex: 2 1 200px;
}

#foo, #bar {
  flex: 1 1 150px;
}

div.container div {
  border: 1px solid black;
}

.abstract .header h4 {
  flex: 5 1 150px;
}

.abstract .header ul {
  flex: 2 1 100px;
}

.main a, .main a:visited {
  text-decoration: none;
}

.main svg {
  width: 100%;
  margin: 10%;
}

.main div.themes span {
  display: block;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.main .themes button {
  padding: 0;
  margin: .5rem;
  display: inline-block;
  width: 40%;
}

.abstract {
  margin-bottom: 2rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: .5rem 1rem;
}

.abstract .topics {
  margin-top: -1rem;
}

ul.long li, ul.long li a {
  width: 100%
}

#search-results ul.letter li {
  padding: .75rem 0;
}

.main li {
  margin-top: .5rem;
}

.topics li {
  display: inline-block;
}

.topics li a {
  padding: .25rem;
}

.signature {
  margin-left: 2rem;
}

.box {
  padding: 1rem;
  margin: 0 1rem;
}

.sidebar ul, ul.long {
  list-style: none;
}
  
#searchBox input {
  width: 75%;
  padding: 0 1rem;
}

#searchWidget {
  margin-top: -1rem;
  float: right;
}

#searchWidget input {
  padding: 0 .5rem;
}

#searchWidget button {
  margin-left: -.5rem;
}

#searchWidget svg {
  width: 3rem;
  margin-bottom: -1rem;
}

ul.long li a:hover {
  margin: -.2rem;
  padding: .2rem;
}

#search-results .snippet {
  padding: 0 1rem;
}

#searchBox input:focus {
  outline: none;
}

h4 a {
  padding: .25rem;
}

a.more {
  float: right;
}

/*  Typography  */

body {
  font-size: 1.2em;
  font-family: sans-serif;
}

h1, h2, h3, h4, summary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

#next {
  text-align: right;
}

.main .themes button {
  text-align: center;
  font-size: 1.25rem;
}

.date {
  text-align: right;
}

.topics ul {
  list-style: none;
  text-align: right;
}

.abstract .topics {
  font-size: 85%;
  text-align: right;
}

.abstract p {
  font-size: 1.05rem;
}

.sidebar li {
  text-indent: -.5rem;
  list-style: none;
}
  
#searchBox input {
  font-size: 1.5rem;
}

#searchBox button, #searchWidget button {
  font-size: 3rem;
  cursor: pointer;
}

#search-results .snippet {
  font-style: italic;
}
/*  Responsiveness  */

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}