:root {
  box-sizing: border-box; 
/*
  --neutral: #d7e3e5;
  --primary: #edd8c8;
  --secondary: #b7ccd2;
  --tertiary: #dabea6;
  --highlight: #e4cbb7;
  --text-primary:  #555555;
  --text-secondary: #333333;
  --text-tertiary: #aa938f;
  --text-highlight: #666666;
*/


  --neutral: #d7e3e5;
  --border: #aa938f;
  --accent: #666666;
  --primary-background: #edd8c8;
  --primary-text: #555555;
  --primary-highlight: #e4cbb7;
  --primary-accent: #b7ccd2;
  --secondary-background: #b7ccd2;
  --secondary-text: #555555;
  --secondary-highlight: #b7ccd2;
  --secondary-accent: #dabea6;
  --tertiary-background: #dabea6;
  --tertiary-text: #555555;
  --tertiary-highlight: #dabea6;
  --tertiary-accent: #b7ccd2;

}

.main {
  background-color: var(--primary-background);
  color: var(--primary-text);
  border-color: var(--border);
}

.main a, .main a:visited {
  background-color: var(--primary-highlight);
  color: var(--primary-text);
}

.main a:hover {
  background-color: var(--primary-accent);
}

.sidebar {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  border-color: var(--border);
}

.sidebar a, .sidebar a:hover {
  background-color: var(--secondary-highlight);
  color: var(--secondary-text);
}

.sidebar a:hover {
  background-color: var(--secondary-accent);
}

header {
  background-color: var(--tertiary-background);
  color: var(--tertiary-text);
  border-color: var(--border);
}

header a, header a:visited {
  background-color: var(--tertiary-highlight);
  color: var(--tertiary-text);
}

header a:hover {
  background-color: var(--tertiary-accent);
}

.sidebar a, header a {
  text-decoration: none;
}

header, .box {
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;  
  box-shadow: 2px 2px 2px var(--accent);
}

body {
  margin: 0;
  padding: 1rem;
  max-width: 1200px;
  margin: 30px auto;
  background-color: var(--neutral);
  font-size: 1.2em;
  color: var(--primary-text); /* TODO: necessary? */
}

button, input {
  background: var(--neutral)
}

.main .themes button {
  color: black;
  background-color: white;
}

button:focus {
  outline:none;
}

h1, h2, h3, h4, summary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: .5rem 1rem;
  margin: -1rem 1rem 1rem 1rem;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

details {
  margin-top: 1.5rem;
}

details > details {
  margin-left: 1rem;
  margin-top: .5rem;
}

details > details > details {
  margin-left: 0;
  margin-top: .5rem;
}

ul + details {
  margin-left: 2rem;
  margin-top: -.5rem;
}

details.more > ul {
  margin-left: -2rem;
}

.container {
  display: flex;
  width: 100%;
}

nav {
  display: flex;
  width: 100%
}

#prev {
  flex: 2 1 150px;
}

#home {
  flex: 1 1 50px;
  text-align: center;
}

#next {
  flex: 2 1 150px;
  text-align: right;
}

.main {
  flex: 5 1 200px;
  position: relative;
}

.main a, .main a:visited {
  text-decoration: none;
}

.main svg {
  width: 100%;
  margin: 10%;
}

.main div.themes span {
  display: block;;
  margin-top: -2rem;
  margin-bottom: 1rem
}

.main .themes button {
  padding: 0;
  margin: .5rem;
  display: inline-block;
  width: 40%;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 15px;
}

ul.long li, ul.long li a {
  width: 100%
}

ul.long li a, ul.long li a:visited {
  background-color: var(--primary);
}

ul.long li a:hover {
  background-color: var(--secondary);
}

.main li {
  margin-top: .5rem;
}

.date {
  text-align: right;
}

.tags ul {
  list-style: none;
  text-align: right;
}

.tags li {
  display: inline-block;
}

.tags li a {
  border: 1px solid;
  border-radius: 10px;
  padding: .25rem;
}

.signature {
  margin-left: 2rem;
}

.sidebar {
  flex: 2 1 200px;
}

.sidebar span {
  opacity: 60%;
}

.box {
  padding: 1rem;
  margin: 0 1rem;
  box-shadow: 2px 2px 2px var(--accent);
}

.sidebar ul {
  list-style: none;
}
  
.sidebar li {
  text-indent: -.5rem;
  list-style: none;
}
  
#searchBox input {
  width: 75%;
  font-size: 1.5rem;
  background-color: var(--neutral);
  border-radius: 18px;
  padding: 0 1rem;
}

#searchBox button {
  font-size: 2rem;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

#searchWidget {
  margin-top: -0.5rem;
  float: right;
}

#searchWidget input {
  background-color: var(--neutral);
  border-radius: 10px;
  font-size: 1rem;
  padding: 0 .5rem;
}

#searchWidget button {
  background-color: inherit;
  border: none;
  font-size: 2rem;
  margin-left: -.5rem;
  cursor: pointer;
}

#searchWidget svg {
  width: 3rem;
  margin-bottom: -1rem;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}