/*********************************************************/
/*                        Colors                         */
/*********************************************************/

:root {
  --neutral: #fbeec1;
  --border: #000000;
  --accent: #666666;
  --primary-background: #daad86;
  --primary-text: #333333;
  --primary-highlight: #bc986c;
  --primary-accent: #659dbd;
  --secondary-background: #bc986c;
  --secondary-text: #fbeec1;
  --secondary-highlight: #bc986c;
  --secondary-accent: #659dbd;
  --tertiary-background: #8d8741;
  --tertiary-text: #fbeec1;
  --tertiary-highlight: #8d8741;
  --tertiary-accent: #659dbd;
}

body {
  background-color: var(--neutral);
}

.main {
  background-color: var(--primary-background) ;
  color: var(--primary-text);
  border-color: var(--border);
}

.sidebar {
  background-color: var(--secondary-background); 
  color: var(--secondary-text); 
  border-color: var(--border);
}

header, footer {
  background-color: var(--tertiary-background);
  color: var(--tertiary-text);
  border-color: var(--border);
}

header h1 a, header h1 a:visited {
  background-color: inherit;
  color: inherit;
}

nav.top {
	background-color: var(--primary-highlight); 
	color: var(--secondary-text);
}

nav.top a, nav.top a:visited {
	background-color: var(--primary-highlight);
	color: var(--secondary-text);
}

.box a, .box a:visited {
  background-color: var(--primary-highlight); 
  color: var(--primary-text); 
}

.box a:hover, .box ul.topics a:hover {
  background-color:var(--primary-accent);
}

ul.topics a, ul.topics a:visited {
  background-color: var(--primary-highlight); 
  color: var(--primary-text); 
}

.sidebar.box a {
  background-color: var(--secondary-background); 
  color: var(--secondary-text);
}

.sidebar.box a:hover {
  background-color:var(--secondary-accent);
}

.sidebar .menu li a, .sidebar .menu a:visited {
  background-color: var(--primary-background);
  color: var(--primary-text); 
}

.sidebar .menu li a:hover {
  background-color:var(--secondary-accent);
}

.main ul.long li a, .main ul.long li a:visited {
  background-color: var(--primary-background);
  color: var(--primary-text); 
}

.main ul.long li a:hover {
  background-color:var(--primary-accent);
}

.main nav a, .main nav a:visited {
  background-color: var(--primary-background); 
  color: var(--primary-text); 
}

#searchWidget button {
  background-color: inherit;
  color: inherit;
}

button, input {
  background: var(--neutral);
  color: inherit;
}

#searchBox button {
  background-color: inherit;
  color: inherit;
}

#search-results li a {
  background-color: var(--primary-highlight);
}

#search-results span.match {
  background-color: var(--primary-accent);
}



/*********************************************************/
/*                        Borders                        */
/*********************************************************/


header, footer, .box {
  border-radius: .75rem;
  border-width: .125rem;
  border-style: solid;
}

header, footer {
  box-shadow: .125rem .125rem .125rem var(--accent);
}

ul.topics li a, ul.topics li a:visited {
  border: .0625rem solid var(--border);
  border-radius: .75rem;
}

.sidebar.box {
  border: none;
}

.sidebar .menu li a, .sidebar .menu a:visited {
  border: .0625rem solid var(--border);
  border-radius: .75rem;
}

.main h3 {
  border-bottom: .0625rem solid var(--primary-text);
}

#searchWidget button {
  border: none;
}

#searchBox button {
  border: none;
}

#searchBox input {
  border-radius: 1rem;
}

nav.top {
	border-bottom: .0625rem solid var(--border);
}

.themes button:focus {
  border: 3px solid var(--border);
}



/*********************************************************/
/*                        Layout                         */
/*********************************************************/

:root {
  box-sizing: border-box;
}

body {
  padding: 0; 
  max-width: 1024px; 
  margin: auto;
}

header, footer {
  padding: .5rem 1rem;
}

header {
  margin: -1rem .5rem .5rem;
}

footer {
  margin: 1rem .5rem;
}

.box {
  padding: .5rem 1rem; margin: .5rem;
  position: relative;
}

header h1 {
  margin-bottom: 0;
}

.box {
  padding: .5rem 1rem; 
  margin: .5rem;
  position: relative;
}

header p {
  margin-top: 0;
}

nav.top {
  margin: 0 0 1.5rem 0;
	padding: 0;
	padding: .5rem 1rem;
}

.container {
	display: flex;
	flex-direction: column;
  width: 100%;
}

ul.topics {
  text-align: center;
  padding: 0;
}

ul.topics li {
  display: inline-block;
}

ul.topics li a, ul.topics li a:visited {
  padding: .25rem;
  text-decoration: none;
  margin: 0 .25rem
}

p.more {
  position: absolute;
  bottom: -.75rem;
  right: .5rem;
}

.sidebar ul.menu {
  list-style: none;
  padding: 0;
}

.sidebar ul.menu li {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.sidebar .menu li a, .sidebar .menu a:visited {
  padding: .25rem;
}

.main ul.long {
  padding: 0;
}

.main ul.long li {
  margin: .5rem 0;
  list-style: none;
}

.main .prev {
  float: left;
}

.main .next {
  float: right;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0 1rem;
  overflow-x: hidden;
  transition: 0.5s;
  margin-left: -4rem;
}

#leader {
  display: flex;
  flex-direction: column;
}

#follower {
  display: flex;
  flex-direction: column;
}


.sidebar.open {
  margin: 0 0 2rem;
  width: 95%;
}

#searchWidget button {
  margin-left: -.5rem;
}

#searchWidget svg {
  width: 3rem;
  margin-bottom: -.75rem;
}

#searchWidget {
  margin-top: -1.5rem;
  padding-top: 1rem;
  float: right;
}

.themes button svg {
  margin: auto;
  width: 100%;
  margin: 10% 10% 0;
}

.themes button {
  width: 45%;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .5rem;
  padding-bottom: 1rem;
}

.themes button span {
  display: inline-block;
  height: 2rem;
}

#searchBox input {
  width: 75%;
}

#searchBox input {
  width: 75%;
  padding: 0 1rem;
}

.main li {
  margin-bottom: 1rem;
}



/*********************************************************/
/*                      Typography                       */
/*********************************************************/

body {
  font-family: sans-serif; 
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a, a:visited {
  text-decoration: none;
}

header, footer {
  text-align: center;
}

h1 {
  font-size: 1.5rem
}

h2 {
  font-size: 1.25rem;
  text-align: center;
}

nav.top {
  text-align: right;
}

ul.topics {
  text-align: center;
}

p.letter-date, p.signature, p.more {
  text-align: right
}

.extra {
  opacity: 70%;
}

.main nav a, .main nav a:visited {
  font-size: 1.5rem;
}

#searchBox button, #searchWidget button {
  font-size: 3rem;
  cursor: pointer;
}

button#cls {
  font-size: 2rem;
  margin-left: -1.25rem
}

.themes button {
  text-align: center;
}

#searchBox button {
  font-size: 2rem;
}

#searchBox input {
  font-size: 1.5rem;
}

#searchBox input:focus {
  outline: none;
}

#search-results ul.topics, #search-results h2 {
  text-align: left;
}

.themes button:focus {
  outline: none;
}

/*********************************************************/
/*                    Responsiveness                     */
/*********************************************************/

@media only screen and (min-width: 48rem) { 
  .container {
    flex-direction: row;
  }

  header {
    margin-top: 1rem; 
  }

  nav.top {
    display: none;
  }

  #main {
    display: flex;
    flex: 7 1 12.5rem;
    flex-direction: column;
  }

  #leader {
    flex-direction: row;
  }

  #follower {
    flex-direction: row;
  }

  .sidebar {
    flex: 2 1 12.5rem;
    transition: none;
  }

  #cls {
    display: none;
  }

  body {
    transition: .5s;
  }

  .main.box {
    flex: 1 1 12.5rem; 
  }
  
  .sidebar {
    height: auto;
    width: auto;
    position: relative; 
    padding: 0 1rem;
    margin-left: 0;
  }

  .box {
    margin: .5rem;
  }
}